<div id=deck deck_name="{{Deck}}"></div>
<div class="root">
  <header>
    <h2 id="term" class="center lang-ja" title="×不常用的汉字
▽不常用的读音
‐熟字训且常用汉字
＝熟字训且不常用汉字">{{kanji}}</h2>
    <div class="center flex-col">
      <span id="accent" class="phonetic italic lang-ja transparent">{{accent}}</span>
    </div>
    <div id="frequency-tag">
      <span class="bar-1"></span>
      <span class="bar-2"></span>
      <span class="bar-3"></span>
      <span class="bar-4"></span>
      <span class="bar-5"></span>
    </div>
  </header>
  <main>
    <div id="usage" class="center italic label mt-10 lang-ja">{{usage}}</div>
    <div id="eg-box"></div>

    <div id="error" class="hide"></div>
  </main>
  <footer>
    <div id="topic-box"></div>
  </footer>

</div>
<script>
  var examplesJson = `{{examples}}`
  var kanji = `{{kanji}}`
  var word = `{{word}}`
  var accent = `{{accent}}`
  var usage = `{{usage}}`

  var usageEl = document.getElementById('usage')
  if (!usage) usageEl.classList.add('hide');

  var termEl = document.getElementById('term')
  var accentEl = document.getElementById('accent')

  var egBoxEl = document.getElementById("eg-box")
  var errEl = document.getElementById("error")

  var tags = `{{Tags}}`
  var topicBoxEl = document.getElementById("topic-box")

  function changeWord(word, kanji) {
    var useWord = preferWord(kanji)

    if (useWord) {
      termEl.textContent = word
      accentEl.classList.add('hide')
    } else if (!accent) {
      accentEl.textContent = word
    }
  }

  function addTags(ts) {
    const tags = ts.split(" ")

    var frequencyTag = tags.find(tag => tag.startsWith("K_"))
    var aiTags = tags.filter(tag => !tag.startsWith("K_"))
    setFrequency(frequencyTag)
    aiTags.forEach(tag => addSpanElements(topicBoxEl, tag, ["tag", "ai-tag"]))
  }

  function preferWord(kanji) {
    if (!kanji) return true
    if (kanji.startsWith('【')) {
      kanji = kanji.slice(1, -1)
    }
    let ks = kanji.split("／")
    if (ks.length <= 1) {
      ks = kanji.split("┊")
    }
    return ks.every(k => k.includes('×'))
  }
  function setFrequency(tag) {
    const el = document.getElementById("frequency-tag")
    switch (tag) {
      case 'K_1_required':
        el.classList.add('star-5')
        break
      case 'K_2_daily':
        el.classList.add('star-4')
        break
      case 'K_3_usual':
        el.classList.add('star-3')
        break
      case 'K_4_rare':
        el.classList.add('star-1')
        break
      default:
        el.classList.add('star-1')
    }
  }

  function parseJson(json) {
    try {
      const data = JSON.parse(json)
      return data
    } catch (e) {
      return undefined
    }
  }

  function addSpanElements(parent, content, classlist = [], id) {
    if (!content) return parent;
    const el = document.createElement("span");
    el.textContent = content
    el.classList.add(...classlist);
    if (id) el.id = id;
    parent.appendChild(el)
    return el
  }

  function addUsage(parent, content) {
    return addSpanElements(parent, content, ["usage", "lang-ja"])
  }

  function addContent(parent, content) {
    return addSpanElements(parent, content, ["content", "lang-ja"])
  }

  function makeElement(item) {
    if (!item) return;
    const div = document.createElement("div")
    if (item.usage) addUsage(div, item.usage)
    addContent(div, item.ja)
    return div
  }

  function getRandom(arr) {
    return arr[Math.floor(Math.random() * arr.length)]
  }

  function addRandomExample() {
    const exampleData = parseJson(examplesJson) || []
    const picked = getRandom(exampleData)
    const exampleEl = makeElement(picked)
    if (exampleEl) {
      egBoxEl.appendChild(exampleEl)
      localStorage.setItem("KJXP_READ", picked.name)
    } else {
      localStorage.removeItem("KJXP_READ")
    }
  }

  function setDefCNVisibility() {
    const showDefCN = localStorage.getItem("KEXP_show_Def_CN")
    const el = document.querySelector("def_cn")
    if (!el) return;
    if (showDefCN) {
      el.classList.remove('hide')
    } else {
      el.classList.add('hide')
    }
  }

  try {
    setDefCNVisibility()
    changeWord(word, kanji)
    addTags(tags)
    addRandomExample()
  } catch (err) {
    console.log(err);
    errEl.classList.remove('hide')
    errEl.textContent = err;
  }


</script>