html, .card {
    --card-color: black;
    --card-bg-color: white;

    --term-color: #b72222;

    --label-color:  #8a7967;
    --usage-color: #665a57;

    --eg-color: grey;
    --eg-bg-color: #f6f6f6;
    --def-color: #df9797;

    --tag-color: #5c5c5c;
    --ori-tag-bg-color: #f7e7d0;
    --ai-tag-bg-color: #cedef2;

    --brief-color: #9b9b9b;

    --footer-border-color: lightgrey;
}


html.night_mode, html.nightMode, .card.night_mode, .card.nightMode {
    --card-color: #968e8b;
    --card-bg-color: #121212;

    --term-color: #ea8971;

    --label-color:  #717171;
    --usage-color: #8b8b8b;

    --eg-color: white;
    --eg-bg-color: #282828;
    --def-color: #968e8b;

    --tag-color: #717171;
    --ori-tag-bg-color: #3f3f3f;
    --ai-tag-bg-color: #282828;

    --brief-color: #8b8b8b;

    --footer-border-color: #575757;
}

/*通用*/
.root {
    transform: scale(1);
    transform-origin: 0 0;
}

#typeans {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transparent {
    opacity: 0;
}

.card {
    font-family: arial;
    font-size: 20px;
    text-align: left;
    color: var(--card-color);
    background-color: var(--card-bg-color);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-col {
    flex-direction: column;
}

.mt-10 {
    margin-top: 10px;
}
.ml-10 {
	margin-left: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}

.label {
    color: var(--label-color);
}

.usage {
    color: var(--usage-color);
    font-weight: bold;
    margin-right: 10px;
}

.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}

.hide {
	display: none;
}

/* 业务通用 */

@font-face {
    font-family: ShipporiMincho;
    src: url('ShipporiMincho-Regular.ttf');
}
@font-face {
    font-family: NotoSerifSC;
    src: url('NotoSerifSC-Regular.ttf');
}

.lang-ja {
    font-family: ShipporiMincho;
}
.lang-cn {
    font-family: NotoSerifSC;
}

header {
    position: relative;
}

#frequency-tag {
    position: absolute;
    top: -10px;
    left: 5px;
    display: flex;
    height: 15px;
    margin-bottom: 8px;
}
#frequency-tag span {
    display: inline-block;
    height: 100%;
    width: 6px;
    background: #b6e9b6;
    margin-right: 4px;
}
#frequency-tag.star-1 span:nth-child(-n+1),
#frequency-tag.star-2 span:nth-child(-n+2),
#frequency-tag.star-3 span:nth-child(-n+3),
#frequency-tag.star-4 span:nth-child(-n+4),
#frequency-tag.star-5 span:nth-child(-n+5)
{
    background: #146c14;
}

footer {
    margin-top: 20px;
    border-top: 1px solid;
    padding: 10px 10px;
    border-color: var(--footer-border-color);
}
#topic-box .tag {
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 12px;
    color: var(--tag-color);
}

#topic-box .original-tag {
    background-color: var(--ori-tag-bg-color);
}
#topic-box .ai-tag {
    background-color: var(--ai-tag-bg-color);
}

/*释义的使用频度介绍*/
#brief {
    font-size: 16px;
    color: var(--brief-color);
}


/*头部*/

#term {
    color: var(--term-color);
}


/*主体*/
main {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

@media (max-width: 900px) {
    main {
        width: 95%;
    }
}

#eg-box {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 20px;
    background-color: var(--eg-bg-color);
    border-radius: 8px;
    font-size: 22px;
}

#eg-box .content {
    color: var(--eg-color);
    font-style: italic;
    line-height: 1.35em;
}

#def-box {
    color: var(--def-color);
}


