.root {
    transform: scale(0.9);
    transform-origin: 0 0;
}

.card {
    font-family: arial;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: white;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt-10 {
    margin-top: 10px;
}

.label {
    color: #8a7967;
}

.usage {
    color: #00205b;
    font-weight: bold;
    margin-right: 10px;
}

.italic {
    font-style: italic;
}


#term {
    color: #0099e5;
}

/*----------------------------------------*/
/*卡片2(cn->en)相关样式*/

.meaning-test-item {
    margin-top: 30px;
    list-style-type: numeric;
}

.meaning-test-item .clue-definition {
    color: grey;
}

.meaning-test-item .clue-definition.highlight {
    color: #102B92;
}

.meaning-test-item:only-child .clue-definition.highlight {
    color: grey;
}

.meaning-test-item .clue-example {
    font-style: italic;
    color: #43a9db;
    margin-top: 15px;
}

.meaning-test-item .clue-example.answer {
    color: black;
}

/*----------------------------------------*/
/*卡片1(en->cn)相关样式*/

#xdefEl {
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
}

@media (max-width: 900px) {
    #xdefEl {
        width: 90%;
    }
}

.xdef-item {
    margin-bottom: 20px;
    list-style-type: decimal;
}


.xdef-item.highlight {
    color: #f85a40;
}